<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/find_pw.css">
    <title>비밀번호 찾기 페이지</title>
</head>
<body>
    <div class="find-wrapper">
        <h1 class="find-title">비밀번호 찾기</h1>
    <form id="findPwForm">
        <div class="input-group">
           <label class="label-text">가입한 이메일을 입력하세요</label>   
           <input type="email" id="email" name="email">
        </div>
        <button type="submit" id="sendEmailBtn" name="sendEmailBtn">이메일 전송</button>
    </form>
    </div>
    <script src="/public/js/find_pw.js"></script>
</body>
</html>