<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/auth.css">
    <title>로그인 페이지</title>
</head>
<body>
    <div class="login-wrapper">
        <h1 class="login-title">CODIMAP</h1>
    <form>
        <div class="input-group">
           <label class="label-text">이메일</label>   
           <input type="email" id="email" name="email">
        </div>
        <div class="input-group">
            <label class="label-text">비밀번호</label>  
            <input type="password" id="password" name="password">
        </div>
        <button type="button" id="login" name="login">로그인</button>
        <div class="find_pw">
            <a href="find_pw.html">비밀번호 찾기</a>
        </div>
    </form>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>