<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="origin">
    <link rel="stylesheet" href="/css/map.css">
    <title>카카오 지도</title>
</head>
<body style="margin:0; padding:0;">

    <div class="main-container">
        <div id="map-container" class="full-screen" style="height: 100vh;">
            <div id="map" style="width:100%; height:100%;"></div>
            
            <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=84d8aeff75217261fb3eb2190840c88e&libraries=services&autoload=false"></script>
            
            <script src="/js/map.js"></script>
            
            <!-- <div class="search-bar">
                <input type="text" placeholder="지역">
            </div> -->
            <div class="top-nav">
                <div class="logo">CODIMAP</div>
                <div class="search-box">
                    <input type="text" placeholder="지역을 검색하시오">
                    <button>🔍</button>
                </div>
            </div>
        </div>

        <div id="side-panel" class="hidden">
            <div class="post-grid"></div>
        </div>
    </div>

</body>
</html>