body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5; 
}

.modify-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 60px 50px; 
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 
}

.btn-back {
    position: absolute;
    left: 35px;
    top: 20px;

    width: 74px;
    height: 54px;

    border: none;
    border-radius: 9px;
    background-color: #3f51b5;
    color: white;

    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #3445a5;
}

.modify-title {
    margin-top: 30px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%; 
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    gap: 10px; 
    margin-bottom: 15px;
}

.label-text {
    width: 130px; 
    white-space: nowrap;
    text-align: right; 
    font-size: 1.2rem;
    color: #555;
    font-weight: 500;
}

input[type="text"], input[type="password"] {
    width: 300px; 
    padding: 12px; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    font-size: 1.1rem;
    color: #333;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border-color: #3c4fb1; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

button {
    margin-top: 15px;
    width: calc(150px + 10px + 300px + 12px); 
    padding: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: #3c4fb1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #283577; 
}