body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5; 
}

.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 60px 50px; 
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 
}

.signup-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: #333;
    font-size: 2.8rem;
    font-weight: bold;
}

#signupForm {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%; 
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    gap: 10px; 
    margin-bottom: 15px;
}

.label-text {
   width: 100px; 
    text-align: right; 
    margin-right: 15px; 
    font-size: 1.1rem; 
    color: #555;
    font-weight: 500;
    flex-shrink: 0; 
}

input[type="text"], input[type="password"], input[type="email"] {
    flex: 1; 
    padding: 12px; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    font-size: 1.1rem;
    color: #333;
    box-sizing: border-box; 
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none;
    border-color: #3c4fb1; 
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.checkBtn, .signupBtn {
    color: white;
    background-color: #3c4fb1;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.checkBtn {
    width: 120px;       
    padding: 10px;      
    font-size: 0.9rem;  
}

.signupBtn {
    width: 100%;       
    max-width: 400px;   
    padding: 15px;      
    font-size: 1.25rem; 
    margin-top: 30px;   
}

button:hover {
    background-color: #283577; 
}